@tailwind base;
@tailwind components;
@tailwind utilities;

body{

	/* background: url(../../public/4268225\ 1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center; */
	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
  	font-smooth: always;
	background-color: #cabfbf;
	color:#FFFFFF;
	font-family: 'Poppins';

}

.header{
	display: flex;
	background-color: rgba(1, 22, 39, 1);
	justify-content: space-between;
	width: 100%;
	height: 100px;
}

.header #avatar{
	border-radius: 50%;
	margin: 18px;
}

.header .nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(34, 40, 49, 1);
	border: 1px solid rgba(34, 40, 49, 1);
	border-radius: 30px;
	height: 46px;
	margin: 28px;
	padding:10px;
	list-style: none;
}

.header .nav li{
	padding:6px 30px;
	border-radius: 30px;
}

.header .nav li:hover{
	background-color: rgba(32, 164, 243, 1);
	cursor: pointer;
}

#logout{
	background-color: rgba(34, 40, 49, 1);
	border-radius: 30px;
	padding: 0px 20px;
	margin: 30px;
}

#logout:hover{
	background-color: rgba(32, 164, 243, 1);
}


  

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
