@tailwind base;
@tailwind components;
@tailwind utilities;

body{

	/* background: url(../../public/4268225\ 1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center; */
	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
  	font-smooth: always;
	color:#FFFFFF;
	font-family: 'Inter', sans-serif;
	background-color: rgba(34, 40, 49, 1);
	/* min-width: 810px; */
}

input:focus, textarea:focus, select:focus{
	outline: none;
}

#header{
	background-color: "red";
}

#backBtn{

	position: absolute;
	left:25px;
	top:20px;
	border-radius: 50%;
	padding:4px 5px 0px;
	& #icon{
		width:30px;
		height:30px;
	}

	&:hover{transform: scale(1.25);
		transition-duration: 0.5s;
		background-color: #ffffff3e;
	}
}