@tailwind base;
@tailwind components;
@tailwind utilities;

body{

	/* background: url(../../public/4268225\ 1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center; */
	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
  	font-smooth: always;
	color:#FFFFFF;
	font-family: 'Poppins';
	background-color: rgba(34, 40, 49, 1);

}

input:focus, textarea:focus, select:focus{
	outline: none;
}

#header{
	background-color: "red";
}

#Parent{
	filter: blur(8px);
}

#child{
	/* filter: none; */
	filter: blur(0px);
}

/* #Parent:active {
	filter: blur(8px);
} */
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
