.Cover {
	position: relative;
}

.ChatPage {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;

}

/*************************** Sec 1 ****************************/

.sec1 {
	margin-top: 12px;
	width: 33%;
	position: relative;
}

.sec1 .searchBar {
	width: auto;
	display: flex;
	flex-direction: row;
	position: relative;
	margin-bottom: 6.5vh;
}

.searchInput {
	background-color: rgba(13, 13, 13, 1);
	height: 54px;
	margin: 15px 20px;
	border-radius: 20px;
	width: 76%;
	text-align: left;
	padding: 0px 15%;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.sec1 .Options {
	background-color: rgba(62, 70, 81, 1);
	display: block;
	width: 43px;
	height: 31px;
	margin: 28px 6% 24px;
	border-radius: 8px;
	padding: 5px 4px;
	position: absolute;
	right: 0px;
}

.Options .straight {
	border: 2px solid #ffffff;
	width: 30px;
	border-radius: 20px;
	margin: 1.5px 2.5px;
}

/********************************* Groups *********************************/

.sec1 .Groups {

	background: linear-gradient(133deg, #4E4E4E -16.04%, #333333 9.33%, #1A1A1A 32.02%, #1A1A1A 62.06%, #262626 87.42%, #4E4E4E 112.12%);
	width: auto;
	margin: 20px;
	border-radius: 20px;
	border: 1px solid black;
	box-shadow: 2px 6px 15px 2px rgba(12, 10, 11, 0.8);
}

.sec1 .Groups .content_g {
	overflow-y: scroll;
	height: 26.5vh;
}

.sec1 .Groups .content_g div:first-child {
	margin-top: 0px;
}

.sec1 .Groups .content_g::-webkit-scrollbar {
	display: none;
}

.sec1 .groupField {
	display: flex;
	padding: 10px 15px 6px;
	margin: 10px 0px;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
}


.g_img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.sec1 .g_img {
	width: 65px;
	height: 65px;
	border-radius: 50%;
}


.sec1 .content {
	display: flex;
	margin: 15px 10px;
	padding: 8px;
	position: relative;
	cursor: pointer;
	border-radius: 10px;

	&:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

.sec1 .content h4 {
	font-size: 18;
	font-weight: 600;
	position: absolute;
	left: 90px;
	margin-top: 6px;
}

.sec1 .content span {
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
	color: rgba(255, 255, 255, 0.5);
	position: absolute;
	right: 5px;
	top: 9px;
}

.sec1 .content p {
	position: absolute;
	top: 40px;
	left: 90px;
	color: rgba(255, 255, 255, 0.5);
}

.sec1 .line {
	width: 91%;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.25);
	margin: 10px 10px;
	position: absolute;
	top: 77px;
}

/***************************************** Friends ************************************/

.Friends {
	background: linear-gradient(133.84deg, #4E4E4E -16.04%, #333333 9.33%, #1A1A1A 32.02%, #1A1A1A 62.06%, #262626 87.42%, #4E4E4E 112.12%);
	width: auto;
	margin: 30px 20px 20px;
	border-radius: 20px;
	border: 1px solid black;
	box-shadow: 2px 6px 15px 2px rgba(12, 10, 11, 0.8);
}

.Friends .content_f {
	overflow-y: scroll;
	height: 42.7vh;

	& div:first-child {
		margin-top: 0px;
	}
}

.content_f::-webkit-scrollbar {
	display: none;
}

.status {
	display: flex;
	background-color: rgba(0, 255, 117, 1);
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	top: 51px;
	left: 51px;
	border: 2px solid #ffffff;
}

.Friends .status {
	top: 54px;
	left: 55px;
}


/***************************************** Sec2 Chat ************************************/

.Chat {
	background: linear-gradient(133.84deg, #4E4E4E -16.04%, #333333 9.33%, #1A1A1A 32.02%, #1A1A1A 62.06%, #262626 87.42%, #4E4E4E 112.12%);

	margin: 25px 18px 10px 6px;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 2px 6px 15px 2px rgba(12, 10, 11, 0.8);
	width: 64%;
	padding: 2vh 2vh 0vh;
}

.Chat .User {
	display: flex;
	position: relative;
	margin-bottom: 50px;
}

.Chat .User h1 {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.5px;
	margin-left: 30px;
	margin-top: 4px;
	color: rgba(255, 255, 255, 1);
	cursor: pointer;
}

.Chat .User span {
	font-size: 14px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.85);
	position: absolute;
	top: 38px;
	left: 100px;
}

.User button {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 22px;
	margin-left: auto;
}

.User .point {
	width: 5px;
	height: 5px;
	border-radius: 20px;
	background: #1A66FF;

}

.line {
	width: 100%;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.25);
	margin: 35px 0px;
	position: absolute;
	top: 62px;
}

.Chat .line {
	background-color: rgba(255, 255, 255, 0.25);
}

/***************************************** Chat Messages ************************************/


.Chat .Msg {
	display: flex;
	flex-direction: column;
	margin: 5vh 0px 2.5vh;
	height: 65.5vh;
	overflow-y: scroll;
	
}

.Msg::-webkit-scrollbar {
	display: none;
}


.Chat .my_msg {
	display: block;
	margin: 20px 5px;
	position: relative;
	margin-left: auto;
	max-width: 50%;
	/* padding: 10px; */
}


.Chat .my_msg p {
	display: block;
	width: fit-content;
	padding: 12px 40px;
	margin-left: auto;
	margin-right: 12px;
	background: #1A66FF;
	border-radius: 9px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	position: relative;
}

.Chat .my_msg span {
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
	color: rgba(255, 255, 255, 0.5);
	position: absolute;
	right: 12px;
	margin-top: 5px;

}

.Chat .my_msg .triangle {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 20px solid #1A66FF;
	position: absolute;
	right: 0px;
	bottom: 0px;
}


.Chat .usr_msg .triangle {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-right: 20px solid #757D86;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.Chat .usr_msg {
	display: block;
	margin: 20px 5px;
	position: relative;
	max-width: 50%;
}

.Chat .usr_msg section{
	padding: 10px 20px;
	background: #757D86;
	margin-left: 12px;
	border-radius: 9px;
	width: fit-content;
	
}

.Chat .Msg .usr_msg h4{
	/* display: block; */
	font-size: 15px;
	font-weight: 600;
	/* background-color: #757D86; */
	width: fit-content;
	margin-left:20px;
	/* padding: 2px 10px; */
	/* border-radius: 10px; */
	/* color: #1A1A1A; */
}

.Chat .usr_msg p {
	/* display: block; */
	width: fit-content;
	padding: 2px 20px 5px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}

.Chat .usr_msg span {
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
	color: rgba(255, 255, 255, 0.5);
	margin: 0px 12px;
}

.Chat .Send {
	display: flex;
	flex-direction: row;
	margin-top: 1.5vh;
	position: relative;
	padding: 1.5vh 0px 0vh;
}

.Send .line {
	top: -2.6vh;
	background-color: rgba(255, 255, 255, 0.25);
}


.Send button {
	background-color: #1A66FF;
	border-radius: 10px;
	width: 55px;
	height: 50px;
	padding:15px 11px 10px 10px;
}


.Send .sendImg {
	width: 30px;
	height: 30px;
	margin: 10px 0px 0px 12px;
}

.Send section {
	background-color: rgba(13, 13, 13, 1);
	border-radius: 10px;
	width: 92%;
	margin-right: 10px;
	padding: 10px 30px;
	display: flex;
	flex-direction: row;
	position: relative;
}

.Send section input {
	background-color: rgba(13, 13, 13, 1);
	border: none;
	width: 100%;
	color: rgba(255, 255, 255);
	font-size: 16px;
	padding-right: 25px;
}


.Send section .sendImg {
	all: initial;
	width: 35px;
	height: 35px;
	position: absolute;
	right: 10px;
	top: 5px;
	cursor: pointer;
	z-index: 1;
	opacity: 0.01;

}


.Send .icon {
	width: 35px;
	height: 38px;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 5px;
}

input:focus {
	outline: none;
}

.Chat .openChat{
	padding:12px 35px 15px;
	/* padding-right: 30px; */
	background-color: rgb(29, 151, 222);
	border-radius: 10px;
	font-weight: 600;
	font-size: 22px;
	margin:auto auto;
	display: block;
	&:hover{
		background-color: rgb(54, 181, 255);
		box-shadow: 0px 0px 20px 10px rgb(0, 130, 205);
	
	}

}

.openChat .icon{
	width: 30px;
	height: 30px;
	margin-left: 30px;
}

/*********************************************** Options Bar ********************************************/


#optionsBar {
	display: flex;
	flex-direction: column;
	width: 260px;
	height: fit-content;
	border: 1px solid #1A1A1A;
	border-radius: 16px;
	position: absolute;
	right: 20px;
	top: 69px;
	background: linear-gradient(133.84deg, #4E4E4E -16.04%, #333333 9.33%, #1A1A1A 32.02%, #1A1A1A 62.06%, #262626 87.42%, #4E4E4E 112.12%);
	z-index: 1;
	box-shadow: 0px 0px 3px 0px #ffff;
}

#optionsBar button {
	padding: 16px 20px;
	cursor: pointer;
	font: 600 20px 'Inter', sans-serif;
	letter-spacing: 0.3px;
}

#optionsBar button:first-child {
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}

#optionsBar button:last-child {
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

#optionsBar .middle {
	border-top: 1px;
	border-radius: 0px;
	border-top: 1px solid rgba(255, 255, 255, 0.25);
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

#optionsBar button:hover {
	background-color: rgba(32, 164, 243, 1);
	/* background-color: #1A66FF; */
}

.Chat .User #optionsBar {
	position: absolute;
	top: 20px;
	right: 40px;
}

.Chat .User #optionsBar button {
	margin: initial;
	align-items: center;
	padding: 16px 20px;
}