
#SearchComponent{
	margin:12px auto 15px 20px;
	position: absolute;
	width:70%;
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: rgba(13, 13, 13, 1);
	overflow-y: auto;
	z-index: 2;
	&::-webkit-scrollbar{
		display: none;
	}
}


#SearchComponent .resBar{
	background-color: rgba(13, 13, 13, 1);
	display: flex;
	flex-direction: column;
	position: absolute;
	padding:0px 15px 5px;
	width: 100%;
}

.resBar .line{
	all:initial;
	width: 100%;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.25);
	margin-bottom: 5px;
	display: block;
}

#SearchComponent .searchInput{
	height: 54px;
	width: 100%;
	margin:initial;
	border: initial;
	border-radius: initial;
	background-color: initial;
}

#SearchComponent .results{
	width:100%;
	height: 55px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 7px 0px;
	background-color: rgb(59, 63, 67);
	border-radius: 10px;
	padding: 5px;
	cursor: pointer;
	&:hover{
		background-color: rgba(127, 137, 147, 0.8);
	}
}



#SearchComponent .g_img{
	width:45px;
	height: 45px;
	border:2px solid #ffff;
}

#SearchComponent .results span{
	font: 600 16px 'Poppins', sans-serif;
	margin: 0px 10px;
	width:30%;
	/* line-height: 20px; */
}

#SearchComponent button{
	padding:8px;
	border-radius: 10px;
	font-weight: 500;
	font-size: 13px;
	margin: 7px 0px 7px auto;
	background-color: green;
}
