/* body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
} */


.create{
	/* margin:30% 20%; */
	margin:auto;
	margin-top: 30vh;
	background: rgb(255, 255, 255, 0.1);
	width: 827px;
	height: 556px;
	padding:40px 80px;
	border-radius: 5px;
	padding: 30px 60px;
	border: 1px solid #0C88E4;
	backdrop-filter: blur(10px);
	box-shadow: 1px 1px 5px 1px white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.create h1{
	display: block;
	
	text-align: center;
	font-size: 30px;
	font-weight: 900;
	letter-spacing: 1px;
	padding-bottom: 15px;
	/* margin: 10px 34%; */
	margin:0px 30% 40px;
	border-bottom: 2px solid white;
}

.label{
	text-align: left;
	display: flex;
	flex-direction: column;
	width:100%;
	width: 270px;
	font-weight: 300;
	/* padding: 0px 20px; */
}

.create input{
	/* display: flex; */
	/* display: block; */
	margin-bottom: 20px;
	padding: 10px 40px;
	border-radius: 5px;
	width: 100%;
	color: black;
	font-weight: 500;
}

.create button{
	display: block;
	margin: 0px 220px;
	padding: 10px 80px;
	background: #0C88E4;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
	cursor: pointer;
}
.create p{
	display: block;
	text-align: center;
	margin-left: 180px;
	letter-spacing: 1px;
	font-weight: 300;
}

.create p span{
	font-weight: 800;
}

.col1 , .col2{
	padding: 0px 40px;
}
