
#container{
	/* min-width: 1500px; */
	/* margin-top:100px; */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height:87vh;
	padding:30px auto;
	align-items: center;
	background-color: #20A4F3;
	

	& section {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 70%;
		
		& h1 , h2{
			font : 700 30px "Inter", sans-serif;
			text-align: center;
			margin-bottom: 20px;
			width:33%;
		}

		& h2{
			letter-spacing: 5px;
			margin:0px 30px 20px;
			/* margin-right: 30px; */
		}

		& h1:first-of-type{margin-right: auto;}
		& h1:last-of-type{margin-left: auto;}
		
		& .g_img , #icon{
			width: 60px;
			height: 60px;
			border: 3px solid #fff;
			margin: 0px 10px 20px;
		}

		& #icon{border: none;}
	}
}

#canvas{
	width: 90%;
	height: 90%;
	background: url("../../../public/Frame_1.png") no-repeat center center;
	background-size: 60vh;
	/* background-position: center center; */
	/* background-image: no-repeat; */


}

.GameMain{
	background-color: #1F295E;
	height: 92.8vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1% 3%;
}

.Leaderboard{
	padding:1% 2.5%;

	& h1{
		font : 700 30px "Inter", sans-serif;
		text-align: center;
		margin:20px 0px;
	}
}

.Leaderboard .content{
	display: flex;
	flex-direction: column;
	padding: 20px 0px 40px 10px;

}

.rankTable{
	display: flex;
	flex-direction: row;
	margin:15px 0px;
	cursor: pointer;

	background-color: #3184BF;
	border-radius: 25px;
	position: relative;
	padding:12px;

	&:hover{
		background-color: #0e4c77;
	}
	
	& h4{
		position: absolute;
		right: 75px;
		
	}
	
	& span{
		position: absolute;
		right: 30px;
	}

	& h2{
		position: absolute;
		left: -20px;
	
	}
	
	& h3 , span , h4 , h2{
		font : 700 20px "Inter", sans-serif;
		color: #fff;
		
	}

	& h3{margin:0px 65px;}
	
	& .g_img{
		width: 62px;
		height: 62px;
		position: absolute;
		top:-7px;
		left:0px;
		border: 3px solid #fff;
	}
}

.Leaderboard , .online{
	border-radius: 50px;
	width:35%;
	background: linear-gradient(0deg, #3184BF 0%, rgba(49, 132, 191, 0.00) 100%);
	box-shadow: 2px 2px 20px 3px rgba(26, 213, 255, 0.25);

}

.online{

}

.GameMode{
	width: 27%;
	padding: 2vh;
}

.MatchMaking{
	padding:10px 50px;
	width: 30vh;
	background-color: #011627;
	position: absolute;
	
	& h1{
		font : 700 24px "Inter", sans-serif;
		text-align: center;
		margin-bottom:15px;
	}

	& .g_img{height: 60px; width: 60px;
	border: 2px solid #fff;}

	& section {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin:10px;
	}
}

.GamePage { 
	position: relative;
}






