

.Ping{
	text-align: center;
	font-size: 30px;
	font-weight: 500;
	margin: 50px;
}

#main{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background: rgb(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	width: 470px;
	height: 580px;
	margin: auto;
	font-weight: 600;
	border-radius: 5px;
	border: 1px solid #0C88E4;
	padding: 30px 60px;
	
}

.title{
	text-align: center;
	font-size:28px;
	margin: 10px 0px;
	font-weight: 600;
}

.Fline{
	display: block;
	text-align: center;
	width: 100%;
	height: 2px;
	color:#FFFFFF;
	background-color: #FFFFFF;
	margin:5px 0px 45px;
}

.email {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #0C88E4;
	margin: 6px 0px 10px;
	padding: 23px 60px 23px 40px;
	color: black;

}

.password {
	width: 100%;
	height: 50px;
	border-radius: 5px;
	border: 1px solid #0C88E4;
	margin: 6px 0px 10px;
	padding: 8px 0px;
	display: flex;
	flex-direction: row;
	background-color: white;
	color: black;
	position: relative;
}
.password .pasIn{
	width: 100%;
	padding: 10px 60px 10px 40px;
	/* background-color: #DC3745; */
}

.password #icon{
	width:20px;
	height:20px;
	position: absolute;
	right:30px;
	top: 15px;
}



.forgot{
	display: block;
	text-align: right;
	width: 100%;
	text-decoration: none;
	font-size: 15px;
	margin: 5px 0px;
	font-weight: 500;

}

.btn{
	display: block;
	text-align: center;
	color: white;
	margin:20px 0px 5px;
	width: 100%;
	border: 1px solid #DC3745;
	background-color: #DC3745;
	border-radius: 5px;
	padding: 8px;
	font-size: 300;	
}

.Intra{
	display: block;
	text-align: center;
	color: white;
	width: 100%;
	background-color: black;
	border-radius: 5px;
	padding: 8px;
	font-size: 300;
	margin:5px 0px;
	
}

.Google{
	color: #DC3745;
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
}

.createbtn{
	display: block;
	text-decoration: none;
	font-size: 18px;
	margin: 20px 0px;
	text-align: center;
}

