body{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	background: url(../../../public/4268225\ 1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	color:#FFFFFF;
	font-family: 'Poppins';

}

.Ping{
	text-align: center;
	font-size: 30px;
	font-weight: 500;
	margin: 50px;
}

#main{
	display: flex;
	align-items: center;
	flex-direction: column;
	background: rgb(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	width: 465px;
	height: 556px;

	/* position: relative; */
	margin:320px;
	
	border-radius: 5px;
	border: 1px solid #0C88E4;
	padding: 30px 60px;

}

.title{
	text-align: center;
	font-size:28px;
	font-weight: 600;
	margin: 10px 0px 0px;
}

.line{
	display: block;
	text-align: center;
	width: 100%;
	height: 2px;
	color:#FFFFFF;
	background-color: #FFFFFF;
	margin:20px 0px;
}

/* .form{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin:20px 0px;
} */

.email , .password{
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #0C88E4;
	margin: 10px 0px;
	padding: 20px 0px 20px 40px;
	color: black;

}

.forgot{
	display: block;
	text-align: right;
	width: 100%;
	text-decoration: none;
	font-size: 15px;
	margin: 5px 0px;

}

#btn{
	display: block;
	text-align: center;
	color: white;
	margin:20px 0px 10px;
	width: 100%;
	border: 1px solid #DC3745;
	background-color: #DC3745;
	border-radius: 5px;
	padding: 6px;
	font-size: 300;	
}

#Intra{
	display: block;
	text-align: center;
	color: white;
	width: 100%;
	border: 1px solid #0C88E4;
	background-color: #0C88E4;
	border-radius: 5px;
	padding: 6px;
	font-size: 300;
}

.createbtn{
	display: block;
	text-decoration: none;
	font-size: 18px;
	margin: 20px 0px;
	text-align: center;
}

.check{
	background-color: #DC3745;
	color: #000;
	font-size: 20px;
	padding: 20px;
	margin: 30px 0px;
}

#getData{
	display: flex;
	text-align: center;
	align-items: center;
	border: 2px solid #0C88E4;
	border-radius: 15px;
	width: fit-content;
	padding: 50px;
	margin:auto;
	color: #000;
	background-color: aqua;
}
