
#home{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;

}

#MapSelecter{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width : 45%;
	position : absolute;
	top:52%;
	right:40px;
	/* height: 40vh; */
}

#home #container{
	border-radius: 20px;
	margin-right:40px;
}

.maps{
	margin:30px auto;
	width:55%;
	height:250px;
}




.animated-border  {
    border: 2px solid #ffffff;
    animation: pulsate 4s ease-in-out infinite;
  }
  
  @keyframes pulsate {
    0% {
      box-shadow: 0 0 0 0 rgba(237, 56, 56, 0.5);
    }
    50% {
      box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
  }