
#header{
	display: flex;
	background-color: rgba(1, 22, 39, 1);
	justify-content: space-between;
	width: 100%;
	height: 104px;
	font: 700 15px 'Inter', sans-serif;
	line-height: 18px;
}

#header #avatar{
	border-radius: 50%;
	margin: 20px;
	margin-left: 40px;
	border: 2px solid whitesmoke;
}

#avatar:hover{
	opacity: 0.7;
}

#header .nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(34, 40, 49, 1);
	border: 1px solid rgba(34, 40, 49, 1);
	border-radius: 30px;
	height: 46px;
	margin: 28px;
	padding:10px;
	list-style: none;
}

#header .nav li{
	padding:6px 30px;
	border-radius: 30px;
}

#header .nav li:hover{
	background-color: rgba(32, 164, 243, 1);
	cursor: pointer;
}

#logout{
	background-color: rgba(34, 40, 49, 1);
	border-radius: 30px;
	padding: 0px 20px;
	margin: 30px 50px 30px 0px; 
}

#logout:hover{
	background-color: #ff2638;
}