
#header{
	display: flex;
	background-color: rgba(1, 22, 39, 1);
	justify-content: space-between;
	width: 100%;
	height: 104px;
	font: 700 15px 'Inter', sans-serif;
	line-height: 18px;
}

#header #avatar{
	border-radius: 50%;
	margin: 20px;
	margin-left: 40px;
	width:60px;
	height:60px;
	border: 2px solid whitesmoke;
}

#avatar:hover{
	opacity: 0.7;
}

#header .nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(34, 40, 49, 1);
	border: 1px solid rgba(34, 40, 49, 1);
	border-radius: 30px;
	height: 46px;
	margin: 28px auto;
	padding:10px;
	list-style: none;
}

#header .nav li{
	padding:8px 20px;
	border-radius: 30px;
}

#header .nav li:hover{
	background-color: rgba(32, 164, 243, 1);
	cursor: pointer;
}

#logout{
	background-color: rgba(34, 40, 49, 1);
	border-radius: 30px;
	padding: 0px 20px;
	margin: 30px 50px 30px 0px; 
}

#logout:hover{
	background-color: #ff2638;
}

#header #SearchComponent{
	margin:22px;
	/* margin-right: auto; */
	position: absolute;
	width:20%;
	left:100px;
	z-index: 4;
	/* &:current{
		width: 280px;
	} */
}

.NotifBtn{
	margin: 0px 30px;

}

.NotifBtn .icon{
	width: 22px;
	height: 22px;
}

.NavbarIcons{margin-right: 6px;}

#NotifBar{
	position: absolute;
	width: 300px;
	z-index: 10;
	border : 1px solid #fff;
	background-color: #fff;
	padding:20px;
	color: black;
	right:0px;
	
	& h1{
		font: 500 18px 'Inter', sans-serif;
		margin-bottom: 20px;
	}

	& section {
		margin:0px 15px;
		font : 500 17px 'Inter', sans-serif;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-direction: row;
	}

	& button{
		border-radius: 12px;
		color: #fff;
		padding:6px 20px;
	}

	& button:first-of-type{
		background-color: #ff2638;
	}

	& button:last-of-type{
		background-color: blue;
	}

	& :after{
		content: '';
		position: absolute;
		left : 0px;
		bottom: 0px;
		width:100%;
		height: 5px;
		background-color: green;
		/* animation: showUp 5s linear forwards; */
	}
}

@keyframes showUp{

	100%{
		width: 0%;
	}
}